<div class="panel panel-primary">
    <div class="panel-heading">
        <h1>Compétences</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p><strong> OS</strong></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Linux</p>
                <span class="progressBar" id="progress0" value="55"></span>
                <div class="meter text-right">
                    <span style="width: 55%">55%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Windows</p>
                <span class="progressBar" id="progress1" value="55"></span>
                <div class="meter text-right">
                    <span style="width: 55%">55%</span>
                </div>
            </div>
        </div>
        <div class="row"><hr class="style18">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p><strong> Langages</strong></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>HTML/CSS</p>
                <span class="progressBar" id="progress2" value="60"></span>
                <div class="meter text-right">
                    <span style="width: 60%">60%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>JavaScript</p>
                <span class="progressBar" id="progress3" value="25"></span>
                <div class="meter text-right">
                    <span style="width: 25%">25%</span>
                </div>
            </div>
            <div class="col-md-offset-4 col-xs-offset-4 col-lg-offset-4 col-xs-offset-0 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>PHP</p>
                <span class="progressBar" id="progress4" value="37"></span>
                <div class="meter text-right">
                    <span style="width: 37%">37%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>SQL</p>
                <span class="progressBar" id="progress5" value="5"></span>
                <div class="meter text-right">
                    <span style="width: 5%">5%</span>
                </div>
            </div>
        </div>
        <div class="row"><hr class="style18">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p><strong>Framwork/Bibliothèque</strong></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Bootstrap</p>
                <span class="progressBar" id="progress6" value="30"></span>
                <div class="meter text-right">
                    <span style="width: 30%">30%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>JQuery</p>
                <span class="progressBar" id="progress7" value="25"></span>
                <div class="meter text-right">
                    <span style="width: 25%">25%</span>
                </div>
            </div>
            <div class="col-md-offset-4 col-xs-offset-4 col-lg-offset-4 col-xs-offset-0 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>AngularJS</p>
                <span class="progressBar" id="progress8" value="32"></span>
                <div class="meter text-right">
                    <span style="width: 32%">32%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Symfony</p>
                <span class="progressBar" id="progress9" value="0"></span>
                <div class="meter text-right">
                    <span style="width: 0%">0%</span>
                </div>
            </div>
        </div>
        <div class="row"><hr class="style18">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p><strong>Outils/Logiciels</strong></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Ligne de commandes</p>
                <span class="progressBar" id="progress10" value="55"></span>
                <div class="meter text-right">
                    <span style="width: 55%">55%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Nano</p>
                <span class="progressBar" id="progress11" value="58"></span>
                <div class="meter text-right">
                    <span style="width: 58%">58%</span>
                </div>
            </div>
            <div class="col-md-offset-4 col-xs-offset-4 col-lg-offset-4 col-xs-offset-0 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Notepad++</p>
                <span class="progressBar" id="progress12" value="62"></span>
                <div class="meter text-right">
                    <span style="width: 62%">62%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Atom</p>
                <span class="progressBar" id="progress13" value="60"></span>
                <div class="meter text-right">
                    <span style="width: 60%">60%</span>
                </div>
            </div>
            <div class="col-md-offset-4 col-xs-offset-4 col-lg-offset-4 col-xs-offset-0 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>NetBeans</p>
                <span class="progressBar" id="progress14" value="35"></span>
                <div class="meter text-right">
                    <span style="width: 35%">35%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Git</p>
                <span class="progressBar" id="progress15" value="28"></span>
                <div class="meter text-right">
                    <span style="width: 28%">28%</span>
                </div>
            </div>
            <div class="col-md-offset-4 col-xs-offset-4 col-lg-offset-4 col-xs-offset-0 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Github</p>
                <span class="progressBar" id="progress16" value="28"></span>
                <div class="meter text-right">
                    <span style="width: 28%">28%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>LAMP/WAMP</p>
                <span class="progressBar" id="progress17" value="31"></span>
                <div class="meter text-right">
                    <span style="width: 31%">31%</span>
                </div>
            </div>
            <div class="col-md-offset-4 col-xs-offset-4 col-lg-offset-4 col-xs-offset-0 col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Gimp</p>
                <span class="progressBar" id="progress18" value="28"></span>
                <div class="meter text-right">
                    <span style="width: 28%">28%</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                <p>Pencil</p>
                <span class="progressBar" id="progress19" value="58"></span>
                <div class="meter text-right">
                    <span style="width: 58%">58%</span>
                </div>
            </div>
        </div>
    </div>
</div>