<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Expériences professionnelles</h2>
    </div>
    <div class="panel-body">
        <p>2017 : Atelier d’initiation à la programmation</p>
        <p>Animation d’un atelier découverte avec CodeCombat et CodeCademy pour des personne de 18 à 30 ans.</p>
        <p>2017 : Création d’un site e-commerce.</p>
        <p>2017 : Rendre responsive un site déjà existant. </p>
        <p>2016 : Création d’un site d’actualité sur 3 jeux vidéos HTML/CSS/PHP/MySQL</p>
    </div>
</div>