<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Formations/Diplômes</h2>
    </div>
    <div class="panel-body">
        <p>2017: Formation « développement web », à l’E2N (Noyon, Hauts-de-France)</p>
        <p class="fa fa-long-arrow-right" aria-hidden="true"> Formation labellisée grande école du numérique par l’état de 6 mois à temps plein.</p>
        <p class="fa fa-long-arrow-right" aria-hidden="true"> Préparation du Titre professionnel « développement logiciel», titre certifier RNCP niveau III équivalent bac + 2.</p>
        <p>2016 :  Bac STMG (SIG) mentions AB.</p>
        <p>2013 :  Brevet des collèges.</p>
    </div>
</div>