<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Loisirs</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="../img/foot.png" title="Footaball" alt="Football"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="../img/hand.png " title="Handball" alt="Handball"/>
            </div>
            <div class="esport col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="../img/esport.gif" title="E-esport" alt="E-sport"/>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="../img/serie.png" title="Series" alt="Series"/>
            </div>
        </div>
    </div>
</div>